 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  /*background-color: #004186*/
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000000;
  padding: 14px 16px;
  transition: 0.3s;
  font-weight:bolder;
  font-family:'monospace';
}

/* Change background color of buttons on hover */
.tab button:hover {
 background-color: #ddd;
 /*background-color: #e36452*/
}

/* Create an active/current tablink class */
.tab button.active {
  /*background-color:#d81e04*/
  background-color:#ccc
}

/* Style the tab content */
.tabcontent {
  display: none;
}

#corrente_zero{
  display:block
}

html {
  height: 100%
}
body {
  min-height: 80%
}

#infobox { 
border: 5px;
outline-color:black;
outline-style:solid;
width:5%
}

#caixa{
border: 5px;
outline-color:black;
outline-style:solid;
width:5%
}


table{
}

.plotly-graph-div, .js-plotly-plot{
width:80% !important;
height:60%; !important;
float:left !important;
}



table {
  width:5%;
  float:left;
  font-family:'monospace';
  border-collapse: collapse;
  font-size:10px;
  margin:0.1%
}

td, th {
  border: 1px solid #dddddd;
  font-family:'monospace';
  text-align: left;
  padding: 2px;
}

tr:nth-child(even) {
  /*background-color:#bdd6f0;*/
  background-color:#ccc
}

#maindiv{
height:90%
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
