 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
}

#corrente_zero{
  display:block
}

html {
  height: 100%
}
body {
  min-height: 100%
}

#infobox { 
border: 5px;
outline-color:black;
outline-style:solid;
width:5%
}

#caixa{
border: 5px;
outline-color:black;
outline-style:solid;
width:5%
}


table{
}

.plotly-graph-div, .js-plotly-plot{
width:90% !important;
height:80%; !important;
float:left !important;
}

.main-svg{
height:50%5;
}


table {
  width:5%;
  float:left;
  font-family:'Courier New, monospace';
  border-collapse: collapse;
  font-size:10px;
  margin:0.1%
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#maindiv{
height:90%
}
