<head>
<meta http-equiv="Content-Language" content="pt-br">
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/styles.css">
<script type="text/javascript" src="../static/js.js"></script>
</head>

<body>
{% block tablinks %}
<div class="tab">
  <button id="correntes" class={{abas["correntes"]|tojson}} onclick = 'redir({{(insta+"_"+info[0]+".html")|tojson}})'> Correntes</button>
  <button id="potencias" class={{abas["potencias"]|tojson}} onclick = 'redir({{(insta+"_"+info[1]+".html")|tojson}})'> Potências</button>
  <button id="tensoes" class={{abas["tensoes"]|tojson}} onclick = 'redir({{(insta+"_"+info[2]+".html")|tojson}})'> Tensões</button>
  <button id="angulos" class={{abas["angulos"]|tojson}} onclick = 'redir({{(insta+"_"+info[3]+".html")|tojson}})'> Ângulos</button>
</div>
{% endblock %}
{% block content %} {% endblock %}
