<head>
<meta http-equiv="Content-Language" content="pt-br">
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/styles.css">
<script type="text/javascript" src="../static/js.js"></script>
</head>

<body>
{% block tablinks %}
<div class="tab">
  <button id="correntes" class="tablinks"> <a href='/{{insta+"_"+info[0]+".html"}}'>Correntes</a></button>
  <button id="potencia" class="tablinks"> <a href='/{{insta+"_"+info[1]+".html"}}'>Potências</a></button>
  <button id="tensoes" class="tablinks"> <a href='/{{insta+"_"+info[2]+".html"}}'>Tensões</a></button>
  <button id="angulos" class="tablinks"> <a href='/{{insta+"_"+info[3]+".html"}}'>Ângulos</a></button>
</div>
{% endblock %}
{% block content %} {% endblock %}
