<head>
<meta http-equiv="Content-Language" content="pt-br">
<meta charset="UTF-8">

<link rel="preload" href="../static/styles.css" as="style">
<link rel="preload" href="../static/styles.css" as="script">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="../static/styles.css">
<script type="text/javascript" src="../static/js.js"></script>

<link rel="preload" href={{(insta+"_"+info[0]+".html")|tojson}}>
<link rel="preload" href={{(insta+"_"+info[1]+".html")|tojson}}>
<link rel="preload" href={{(insta+"_"+info[2]+".html")|tojson}}>
<link rel="preload" href={{(insta+"_"+info[3]+".html")|tojson}}>
</head>

<body>
{% block tablinks %}
<div class="tab">
  <button id="correntes" class={{abas["correntes"]|tojson}} onclick = 'redir({{(insta+"_"+info[0]+".html")|tojson}})'> Correntes</button>
  <button id="potencias" class={{abas["potencias"]|tojson}} onclick = 'redir({{(insta+"_"+info[1]+".html")|tojson}})'> Potências</button>
  <button id="tensoes" class={{abas["tensoes"]|tojson}} onclick = 'redir({{(insta+"_"+info[2]+".html")|tojson}})'> Tensões</button>
  <button id="angulos" class={{abas["angulos"]|tojson}} onclick = 'redir({{(insta+"_"+info[3]+".html")|tojson}})'> Ângulos</button>
</div>
<script>
$('body').append('<div id="loader"><div class="loader"></div></div>');
$(window).on('load', function(){
  setTimeout(removeLoader, 0); //wait for page load PLUS two seconds.
});
function removeLoader(){
    $( "#loader" ).fadeOut(600, function() {
      // fadeOut complete. Remove the loading div
      $( "#loader" ).remove(); //makes page more lightweight 
  });  
}
</script>
{% endblock %}
{% block content %} {% endblock %}
